<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Tax number</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contractor of contractors; let rowIdx=index">
          <th scope="row">{{rowIdx+1}}.</th>
          <td>{{contractor.name}}</td>
          <td>{{contractor.taxNumber}}</td>
          <td>
            <button (click)="onDelteContractor(contractor.id)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" [ngClass]="{'contractor-form': contractors.length > 0}">
  <div class="col-12">
    <app-invoice-contractor-form (addContractor)="onAddContractor($event)"></app-invoice-contractor-form>
  </div>
</div>